/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body (general) */

body {
    color: rgb(15, 15, 15);
    background-image: linear-gradient(#feff19, #ffff32, #ffff4a, #ffffeb);
}

/* Estilos del header */

header {
    padding: 10px;
    background-color: #ffff4a;
    border-bottom: 1px solid rgb(74, 68, 68);
    position: sticky;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-hed {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header nav img {
    width: 80px;
    height: 80px;
}

.titulo-2 ul {
    display: inline-block;
    list-style: none;
}

.titulo-2 ul li {
    padding-right: 80px;
}

.titulo-2 a {
    text-decoration: none;
    color: black;
}

.titulo-2 img {
    height: 20px;
    width: 20px;
}


/* Aqui se colocaran los estilos de la presentacion */

.grids-presentacion {
    display: grid;
    grid-template-columns: 2fr 2fr;

    grid-template-areas: 
    "main presentacion"
    "main presentacion"
    "main presentacion";
}

/* Aqui se colocaran los estilos del main */

main {
    grid-area: main;
}

main p {
    text-align: left;
    font-size: 1.4rem;
    margin: 142px 20px;
    padding: 60px 16px;
    border-bottom: 1.6px solid rgb(74, 68, 68);
    border-top: 1.6px solid rgb(74, 68, 68);
}

/* Aqui se colocaran los estilos de la section presentacion */

.presentacion {
    grid-area: presentacion;
    text-align: center;
}

.presentacion img {
    margin-top: 100px;
    width: 500px;
    height: 350px;
}


/* Aqui se colocaran los estilos de las secciones de busqueda */

/* grids */

.grids-section {
    display: grid;
    grid-template-columns: 2fr 2fr;

    grid-template-areas: 
    "busqueda imagenes"
    "busqueda imagenes"
    "busqueda imagenes";

    border: 1.4px solid rgb(74, 68, 68);
    margin: 80px 160px;
}

/* Estilos de la section busqueda */

.busqueda {
    grid-area: busqueda;
}

.busqueda div {
    margin-top: 20px;
    text-align: center;
}

.busqueda div li {
    padding-bottom: 20px;
    size: 2rem;
}

/* Estilos de la section busqueda imagenes */

.imagenes-busqueda {
    grid-area: imagenes;
    margin: 20px 0px;
}

.imagenes-busqueda img {
    width: 180px;
    height: 180px;
    margin-right: 50px;
    margin-bottom: 30px;
}

