/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body (general) */

body {
    color: rgb(15, 15, 15);
    background-image: linear-gradient(#feff19, #ffff32, #ffff4a, #ffffeb);
}

/* Estilos del header */

header {
    padding: 10px;
    background-color: #ffff4a;
    border-bottom: 1px solid rgb(74, 68, 68);
    position: sticky;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-hed {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header nav img {
    width: 80px;
    height: 80px;
}

.titulo-2 ul {
    display: inline-block;
    list-style: none;
}

.titulo-2 ul li {
    padding-right: 80px;
}

.titulo-2 a {
    text-decoration: none;
    color: black;
}

/* Aqui se colocaran los estilos del main */

main p {
    text-align: center;
    font-size: 1.4rem;
    padding: 60px;
    margin: 80px 200px;
    border: 2px solid rgb(74, 68, 68);
    box-shadow: 1px 0.6px 2px black;
}

/* Aqui se colocaran los estilos de las secciones de busqueda */

/* grids */

.grids-section {
    display: grid;
    grid-template-columns: 2fr 2fr;

    grid-template-areas: 
    "busqueda imagenes"
    "busqueda imagenes"
    "busqueda imagenes";
}

/* Estilos de la section busqueda */

.busqueda {
    grid-area: busqueda;
}

.busqueda div {
    margin-top: 80px;
}

.busqueda div h4 {
    padding-bottom: 20px;
}

.imagenes-busqueda {
    grid-area: imagenes;
}

