/* Estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del body (general) */

body {
    color: rgb(15, 15, 15);
    background-image: linear-gradient (rgb(255, 255, 255), whitesmoke, rgb(255, 255, 255));
}

/* Estilos del header */

header {
    margin-top: 10px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-hed {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header nav img {
    width: 100px;
    height: 100px;
}

.titulo-2 ul {
    display: inline-block;
    list-style: none;
}

.titulo-2 ul li {
    padding-right: 80px;
}